.navbar-brand{
    font-family: sans-serif;
}

.img-style{
    /* border: 3px solid red; */
    border-radius: 50%;
    height: 10vh;
    width: 50%;
    object-fit: cover;
    object-position: center;
    background: #000;
    filter: contrast(200%) brightness(150%);
    /* box-shadow: 0px 0px 15px rgb(166, 81, 246); */
}